@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Francois+One&family=Signika+Negative:wght@500&display=swap');

:root{
    --title: 'Signika Negative', sans-serif;
    --subtitle: 'Francois One', sans-serif;
    --button: 'Acme', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.cadastro{
    text-align: center;
    margin: auto;
    margin-top: 16px;
    color: whitesmoke;
    width: 500px;
}

.cadastro h1{
    font-family: var(--title);
    font-size: 2.8rem;
}

.cadastro h2{
    font-family: var(--subtitle);
    font-size: 1.8rem;
}

.cadastro h3{
    font-family: var(--subtitle);
    font-size: 1.2rem;
}

#name , #email{
    padding: 5px 40px;
    font-weight: 500;
    padding: 14px 4px;
    width: 90%;
    border-radius: 8px;
    border: none;
}

#check{
    font-size: 1.1rem;
}

#btn{
    width: 100%;
    padding: 5px 40px;
    background-color: rgb(92, 92, 197);
    color: whitesmoke;
    border: none;
    padding: 14px 4px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: var(--button);
}

#btn:hover{
    background-color: rgb(61, 61, 167);
}